.mc-run .question.numbered {
	margin-left: 20px;
}
.mc-run .question {
	position: relative;
	margin-bottom: 15px;
}
.mc-run .question-counter {
	position: absolute;
	left: -18px;
	top: 10px;
	font-size: 1.1em;
}
.mc-run .question-text {
	word-wrap: break-word;
	background: #f5eef7;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.mc-run .answers .answer {
	margin-bottom: 2px;
}
.mc-run .answers .answer * {
	margin-bottom: 0;
}
.mc-run .answers .answer label {
	padding: 4px 5px;
	border-radius: 3px;
}
.mc-run .answers .answer label * {
	display: inline-block;
	margin-left: 5px;
}
.aui .mc-run .answers .answer label > * {
	vertical-align: middle;
}
.aui .mc-run .answers .answer label input:before {
	color: #39c;
}

/* Answer details styling */

.mc-run .answers .answer label.blocked input:before{
	background: rgb(226, 226, 226);
}
.mc-run .answers .answer label:HOVER:not(.blocked) {
	background: #FFC;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
}

.aui .mc-run .answers .answer.is-right label{
	background: #F0F9E8;
	color: #77C136;
	font-weight: 600;
}

.aui .mc-run .answers .answer.is-wrong label{
	background: #FCE8E8;
	color: #E54D42;
	font-weight: 600;
}
